apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate
  namespace: {{ .Release.Namespace }}
data:
  config.yml: |
    mqtt:
      host: mosquitto.mosquitto
      port: 1883
      user: homeassistant
      password: FLS3GD8Qc8xJWp
    record:
      enabled: true
      retain:
        days: 2
        mode: all
      alerts:
        retain:
          days: 30
          mode: motion
      detections:
        retain:
          days: 14
          mode: motion
    snapshots:
      enabled: true
      retain:
        default: 30
    review:
      alerts:
        labels:
          - person
    go2rtc:
      streams:
        elevators:
    #      - onvif://homeassistant:aP5n8XdebfKeDn@192.168.2.111:80
          - rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.111:554/live.sdp
        hallway:
          - ffmpeg:rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.112:554/Streaming/Channels/101#video=copy#audio=aac
        vestibule:
          - rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.113:554/Streaming/Channels/101
        livingroom:
          - ffmpeg:rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.114:554/Streaming/Channels/101#video=copy#audio=aac
        kitchen:
          - ffmpeg:rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.115:554/Streaming/Channels/101#video=copy#audio=aac
        intercom:
          - ffmpeg:rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.116:554/Streaming/Channels/101#video=copy#audio=aac
        balcony:
          - ffmpeg:rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.117:554/Streaming/Channels/101#video=copy#audio=aac
        bedroom:
          - rtsp://homeassistant:aP5n8XdebfKeDn@192.168.2.118:554/Streaming/Channels/101
    cameras:
      elevators:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/elevators
              input_args: preset-rtsp-restream
              roles: &roles_record_detect_audio
                - record
                - detect
                - audio
          output_args: &output_record_audio_copy
            record: preset-record-generic-audio-copy
        audio: &audio_enabled
          enabled: true
        detect: &detect_fps_2
          fps: 2
      hallway:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/hallway
              input_args: preset-rtsp-restream
              roles: *roles_record_detect_audio
          output_args: *output_record_audio_copy
        audio: *audio_enabled
        detect: &detect_fps_1
          fps: 1
      vestibule:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/vestibule
              input_args: preset-rtsp-restream
              roles: &roles_record_detect
                - record
                - detect
        detect: *detect_fps_2
      livingroom:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/livingroom
              input_args: preset-rtsp-restream
              roles: *roles_record_detect_audio
          output_args: *output_record_audio_copy
        audio: *audio_enabled
        detect: *detect_fps_1
      kitchen:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/kitchen
              input_args: preset-rtsp-restream
              roles: *roles_record_detect_audio
          output_args: *output_record_audio_copy
        audio: *audio_enabled
        detect: *detect_fps_1
      balcony:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/balcony
              input_args: preset-rtsp-restream
              roles: *roles_record_detect_audio
          output_args: *output_record_audio_copy
        audio: *audio_enabled
        detect: *detect_fps_1
      intercom:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/intercom
              input_args: preset-rtsp-restream
              roles: *roles_record_detect_audio
          output_args: *output_record_audio_copy
        audio: *audio_enabled
        detect:
          fps: 3
        review:
          alerts:
            required_zones:
              - canopy
        zones:
          canopy:
            coordinates: 0,1,1,1,1,0.395,0,0.39
      bedroom:
        ffmpeg:
          inputs:
            - path: rtsp://127.0.0.1:8554/bedroom
              input_args: preset-rtsp-restream
              roles: &roles_record_detect
                - record
                - detect
        detect: *detect_fps_2
