{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 55.7483,
        "longitude": 37.6171,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Moscow",
        "external_url": null,
        "internal_url": null,
        "currency": "RUB"
    }
}