apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: deploy-docker
  namespace: homeassistant
spec:
  serviceAccountName: deployer
  workflowMetadata:
    labels:
      pipelines.ibragimov.uk/build: '{{`{{ workflow.parameters.project }}`}}-{{`{{ workflow.parameters.application }}`}}-{{`{{ workflow.parameters.service }}`}}-{{`{{ workflow.parameters.env }}`}}'
    annotations:
      workflows.argoproj.io/title: '**deploy-docker**-{{`{{ workflow.parameters.service }}`}}'
      workflows.argoproj.io/description: '`{{`{{ workflow.parameters.env }}`}}`'
  ttlStrategy:
    secondsAfterCompletion: 604800
  entrypoint: wf
  onExit: telegram
  arguments:
    parameters:
    - name: repo
      value: home
    - name: project
      value: iot
    - name: application
      value: homeassistant
    - name: service
      enum:
        - dacha
        - mati
    - name: env
      value: master
    - name: sensor_meta
      value: "{}"

  templates:

    - name: wf
      steps:

        - - name: cancel
            templateRef:
              name: cancel
              template: run
              clusterScope: true
            arguments:
              parameters:
                - name: label-value
                  value: "{{`{{ workflow.parameters.project }}`}}-{{`{{ workflow.parameters.application }}`}}-{{`{{ workflow.parameters.service }}`}}-{{`{{ workflow.parameters.env }}`}}"

        - - name: docker-build
            templateRef:
              name: docker-build
              template: process
              clusterScope: true
            arguments:
              parameters:
                - name: repo
                  value: "{{`{{ workflow.parameters.repo }}`}}"
                - name: project
                  value: "{{`{{ workflow.parameters.project }}`}}"
                - name: application
                  value: "{{`{{ workflow.parameters.application }}`}}"
                - name: service
                  value: "{{`{{ workflow.parameters.service }}`}}"
                - name: env
                  value: "{{`{{ workflow.parameters.env }}`}}"

        - - name: docker-move
            templateRef:
              name: docker-move
              template: process
              clusterScope: true
            arguments:
              parameters:
              - name: path
                value: "/{{`{{ workflow.parameters.project }}`}}/{{`{{ workflow.parameters.application }}`}}/{{`{{ workflow.parameters.service }}`}}"
              - name: env
                value: "{{`{{ workflow.parameters.env }}`}}"

        - - name: docker-compose
          templateRef:
            name: docker-compose
            template: process
            clusterScope: true
          arguments:
            parameters:
            - name: repo
              value: "{{`{{ workflow.parameters.repo }}`}}"
            - name: project
              value: "{{`{{ workflow.parameters.project }}`}}"
            - name: application
              value: "{{`{{ workflow.parameters.application }}`}}"
            - name: service
              value: "{{`{{ workflow.parameters.service }}`}}"
            - name: env
              value: "{{`{{ workflow.parameters.env }}`}}"

    - name: telegram
      steps:
        - - name: telegram
            templateRef:
              name: telegram
              template: send
              clusterScope: true
