apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: deploy-docker-iot-frigate
  namespace: frigate
spec:
  serviceAccountName: deployer
  workflowMetadata:
    annotations:
      workflows.argoproj.io/title: '**deploy-docker-iot-frigate**-{{`{{ workflow.parameters.service }}`}}'
      workflows.argoproj.io/description: '`{{`{{ workflow.parameters.env }}`}}`'
  ttlStrategy:
    secondsAfterCompletion: 604800
  entrypoint: wf
  onExit: telegram
  arguments:
    parameters:
    - name: repo
      value: home
    - name: project
      value: iot
    - name: application
      value: frigate
    - name: service
      enum:
        - dacha
        - mati
    - name: env
      value: master

  templates:

    - name: wf
      steps:
      - - name: docker-compose
          templateRef:
            name: docker-compose
            template: process
            clusterScope: true
          arguments:
            parameters:
            - name: repo
              value: "{{`{{ workflow.parameters.repo }}`}}"
            - name: project
              value: "{{`{{ workflow.parameters.project }}`}}"
            - name: application
              value: "{{`{{ workflow.parameters.application }}`}}"
            - name: service
              value: "{{`{{ workflow.parameters.service }}`}}"
            - name: env
              value: "{{`{{ workflow.parameters.env }}`}}"

    - name: telegram
      steps:
        - - name: telegram
            templateRef:
              name: telegram
              template: send
              clusterScope: true
